<h1>Add a Category</h1>

<form action="/category/list" method="post">
  <label for="category-name">New Category</label>
  <input type="text" name="category-name" class="form-control">
  <button type="submit" class="btn" name="button">Add Category</button>
</form>

<a href="/category/list">View Categories</a>
<a href="/">HomePage</a>
