<h1>Add a Cuisine</h1>

<form action="/cuisine/list" method="post">
  <label for="cuisine-name">New Cuisine</label>
  <input type="text" name="cuisine-name" class="form-control">
  <button type="submit" class="btn" name="button">Add Cuisine</button>
</form>

<a href="/cuisine/list">View Cuisines</a>
<a href="/">HomePage</a>
