@{
  Layout = "_Layout";

}

<body>
  <div class="container-fluid">
    <h1>Add Review for @Model.GetRestaurantName()</h1>
    <form action="/restaurant/@Model.GetRestaurantName()/@Model.GetId()/review" method="post">
      <label for="review-description">Review</label>
      <input type="text" name="review-description" class="form-control"><br>
      <label for="reviewer">Reviewed By:</label>
      <input type="text" name="reviewer" class="form-control"><br>
      <button type="submit" name="button" class="btn btn-default">Add Review</button>
    </form><br>
    <a href="/restaurant/@Model.GetRestaurantName()/@Model.GetId()/review">View Reviews</a><br>
    <a href="/">HomePage</a>
  </div>

</body>
