<h1>Add Task for @Model.GetName()</h1>

<form action="/@Model.GetName()/@Model.GetId()/tasklist" method="post">
  <label for="task-name">New Task</label>
  <input type="text" name="task-name" class="form-control">
  <label for ="task-dueDate">Due Date</label>
  <input type="date" name="task-dueDate" class="form-control">
  <button type="submit" name="button">Add Task</button>
</form>

<a href="/@Model.GetName()/@Model.GetId()/tasklist">View Task List</a><br>
<a href="/">HomePage</a>
