<h1>Best Restaurants Homepage</h1>
<hr>
@if (@Model.Count == 0)
{
  <h3>No restaurants have been added yet!</h3>
}

<table>
<tr>
  <th><strong>Id</strong></th>
  <th><strong>Restaurant</strong></th>
  <th><strong>Cuisine</strong></th>
</tr>
@* Restaurants will be a list of Restaurant objects from the entire database *@
@foreach (var restaurant in Model)
{
  <tr>
    <th>@restaurant.GetId()</th>
    <th>@restaurant.GetRestaurantName()</th>
    <th>@restaurant.GetCuisineId()</th>
  </tr>
}
</table>

<a href="/cuisine/add">Add Cuisine</a> <br>
<a href="/cuisine/list">View Cuisines</a>
