<h1>Reviews for @Model["restaurant"].GetRestaurantName()</h1>

<ul>
  @foreach (var review in Model["reviews"])
  {
    <li>@review.GetId() | @review.GetDescription() | <a href="/@Model["restaurant"].GetId()/review/@review.GetId()/edit">Edit</a> | <a href="/@Model["restaurant"].GetId()/review/@review.GetId()/delete">Delete</a></li>
  }
</ul>

<a href="/restaurants/@Model["restaurant"].GetId()/review/add">Add Review</a>
<a href="/">Home Page</a>
